.main-content{
  margin: 1em 1em auto 1em;
}
table {
  width: 100%;
}
th{
  background: black;
  color: white;
  font-size: 18px;
}

th.mat-sort-header-sorted {
color: black;
}

.mat-raised-button{
  background: green;
  color: white;
}