.main-content{
  margin: 1em 1em auto 1em;
}
.spacer{
  flex: 1 1 auto;
}

table {
  width: 100%;
}
th{
  background: black;
  color: white;
  font-size: 18px;
}

th.mat-sort-header-sorted {
  color: black;
  }

  .mat-raised-button{
      background: green;
      color: white;
  }

  .header{
    background: #f1f1f1;
    padding: 1em 1em 0.5em 1em;
  }