

<script>
export default {
  name: 'ForgetPage',
  data () {
    return {
      msg: '',
      signed: false,
      email: ''
    }
  },
  methods: {
    forget () {
      this.msg = ''
      let emailid = this.email.toLowerCase()
      /* global axios */
      axios({
        method: 'post',
        url: 'codeword/validateEmail',
        data: {
          email: emailid
        }
      }).then(res => {
        console.log(res.data.message)
        if (res.data.message === true) {
          axios.post('codeword/sendmail', {
            email: emailid
          }).then(response => {
            this.msg = 'Sent temporary password to your email'
            this.signed = true
            let _this = this
            setTimeout(function () {
              _this.$router.push({ path: '/' })
            }, 2000)
          })
        } else {
          this.msg = 'Invalid User!!'
          this.signed = false
        }
      })
    }
  }
}
</script>