/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

*{
    padding: 0;
    margin: 0;
} */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.toolbar{
    background-color:  #4B0082;
    border-radius: 5px;
    color: white;

}

.toolbar-spacer{
    flex: 1 1 auto;
}