.example-icon {
    padding: 0 14px;
  }
  
.example-spacer {
    flex: 1 1 auto;
  }

a:hover{
    color: #f8faf8;
    text-decoration: underline;
}
.nav-custom{
  background: black !important;
    color: white !important;
    margin-bottom: 1em;
}

