.main-content{
    margin: 1em 1em auto 1em;
}
table {
    width: 100%;
  }
th{
    background: black;
    color: white;
    font-size: 18px;
}

p {
    font-size: 12px;
    }

    mat-grid-list{
        max-width: auto;
        margin: 1em 1em auto 1em;}
  
th.mat-sort-header-sorted {
color: black;
}

.mat-raised-button{
    background: green;
    color: white;
}

.spacer{
    flex: 1 1 auto;
}