<app-nav-bar></app-nav-bar>
<br>

<!-- Add Course button -->
<div class="main-content">
  <button mat-raised-button color="primary" (click)="openDialog()"><i class="fas fa-plus"></i> Add Course</button>
  <br>
  <br>
</div>

<!-- New Mat card -->


<div class="row" style="margin : 1em;">
    <div class="col-sm-3" *ngFor="let element of courseData" >
    
        <mat-card class="example-card" style="margin-bottom:1em;">
            <mat-card-header>
              <h5> {{ element.courseNameKey }}</h5>
            </mat-card-header>
            <mat-card-content>
              <mat-toolbar>
                <p>
                  {{ element.Startdate | date:'MM-dd-yyyy' }}</p>
                <span class="spacer"></span>
                <p>
                  {{ element.Enddate | date :'MM-dd-yyyy'}}
                </p>
              </mat-toolbar>
            </mat-card-content>
            <br>
            <mat-card-content>
              <mat-toolbar>
                <p>
                    Acknowledged Status
                  <!-- <a href="{{ element.PreSurveyURL }}">PreSurvey</a> -->
                </p>
                <span class="spacer"></span>
                <p>
                    {{ element.ackAval }}/{{ element.totalAck }} ({{  element.ackAval/element.totalAck | percent:'.0-2'}})
                  <!-- <a href="{{ element.PostSurveyURL }}">PostSurvey</a> -->
                </p>
              </mat-toolbar>
              <!-- <div class="row">
              <h4 class=" float-sm-right">Acknowledged Status:{{ackCount}}/{{totalstudents}} ({{ackCount/totalstudents | percent:'.0-2'}})</h4>
            </div> -->
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="rowClicked(element)"><i class="far fa-eye"></i> View</button>
              <button mat-button><i class="fas fa-trash"></i> Delete</button>
            </mat-card-actions>
          </mat-card>
  </div>
  </div>
  
<!-- <mat-grid-list cols="4" rowHeight="350px">
  <mat-grid-tile *ngFor="let element of courseData">

    <mat-card class="example-card">
      <mat-card-header>
        <h3> {{ element.courseNameKey }}</h3>
      </mat-card-header>
      <mat-card-content>
        <mat-toolbar>
          <p>
            {{ element.Startdate }}</p>
          <span class="spacer"></span>
          <p>
            {{ element.Enddate }}
          </p>
        </mat-toolbar>
      </mat-card-content>
      <br>
      <mat-card-content>
        <mat-toolbar>
          <p>
            <a href="{{ element.PreSurveyURL }}">PreSurvey</a>
          </p>
          <span class="spacer"></span>
          <p>
            <a href="{{ element.PostSurveyURL }}">PostSurvey</a>
          </p>
        </mat-toolbar>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="rowClicked(element)"><i class="far fa-eye"></i> View</button>
        <button mat-button><i class="fas fa-trash"></i> Delete</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list> -->
