<mat-dialog-content>
  <h4 mat-dialog-title>Edit Course Details</h4>
  <form class="example-form" (ngSubmit)="save(courseForm)" #courseForm="ngForm">
    <p class="mat-body-2" *ngIf="errFlag">Fill all the required fields</p>
    <p class="example-full-width">
      <!-- <input matInput type="text" [(ngModel)]="addcourse.courseNameKey" name="name" #nameID="ngModel" placeholder="Course Name"
        required> -->
        Course Name Key : {{addcourse.courseNameKey}}
    </p>
    <br>
    <!-- <mat-toolbar> -->
    <mat-form-field class="example-full-width">
      <!-- <input matInput type="date" [(ngModel)]="addcourse.date"  name="startDate" #startDateID="ngModel" placeholder="Start Date"
         required> -->
      <input matInput [(ngModel)]="addcourse.Startdate" name="startDate" #startDateID="ngModel" [min]="minDate"
        [matDatepicker]="picker" placeholder="Start Date" required (dateChange)="addEvent('change', $event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <!-- <span class="spacer"></span> -->
    <mat-form-field class="example-full-width">
      <!-- <input matInput type="date" [(ngModel)]="addcourse.enddate" name="endDate" #endDateID="ngModel" placeholder="End Date" required> -->
      <input matInput [(ngModel)]="addcourse.Enddate" name="endDate" #endDateID="ngModel" [min]="minDate2"
        [matDatepicker]="picker2" placeholder="End Date" required>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input matInput type="text" [(ngModel)]="addcourse.PreSurveyURL" name="startURL" #nameID="ngModel"
        placeholder="Select Survey Start URL">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input matInput type="text" [(ngModel)]="addcourse.PostSurveyURL" name="endURL" #nameID="ngModel"
        placeholder="Select Survey End URL">
    </mat-form-field>
    <br>
    <!-- Footer of form -->
    <div>
      <span class="spacer"></span>
      <button class="btn-cancel" type="button" mat-raised-button (click)="rowClicked(row)">Cancel</button>
     &nbsp;&nbsp; <button class="btn-create" color="primary" mat-raised-button>Update</button>
    </div>
    &nbsp;&nbsp;
  </form>

</mat-dialog-content>