.main-content{
    margin-left: 1em;
    margin-right: 1em;
    /* overflow-x: scroll; */
    /* width: 100%; */
}
table {
    width: 100%;
  }
th{
    background: black;
    color: white;
    /* font-size: 18px; */
}
  
th.mat-sort-header-sorted {
color: black;
}

.mat-raised-button{
    background: green;
    color: white;
}