<mat-card>
  <mat-card-header>
    <mat-toolbar class="toolbar">
      <mat-icon (click)="addContact()">Add New Cource</mat-icon>
      <!-- <span class="toolbar-spacer"></span>
      <mat-icon (click)="addContact()">add</mat-icon> -->
    </mat-toolbar>
  </mat-card-header>

  <mat-card-content>
    <div class="container">
      <table class="table">
        <thead>
          <th>Course Name</th>
          <th> Start Date</th>
          <th>End Date</th>
          <th> Survey Start URL</th>
          <th> Survey End URL</th>
        </thead>
        <tr *ngFor="let Contact of ContactList">
          <td>{{Contact.FirstName}}</td>
          <td>{{Contact.LastName}}</td>
          <td>{{Contact.Contact}}</td>
          <td>{{Contact.Email}}</td>
          <td>{{Contact.End}}</td>
          <td><button class="cancel"  mat-button (click)="editContact(Contact.ID)">Edit</button></td>
        <td><button class="create"   mat-button  (click)="deleteContact(Contact.ID)">Delete</button></td>
          
      
        </tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
<app-nav-bar></app-nav-bar>
<br>

<!-- Add Course button -->
<div class="main-content">
  <button mat-raised-button color="primary" (click)="openDialog()"><i class="fas fa-plus"></i>Add Course</button>
  <br>
  <br>
</div>

<!-- New Mat card -->
<mat-grid-list cols="4" rowHeight="350px">
  <mat-grid-tile *ngFor="let element of courseData">

    <mat-card class="example-card">
      <mat-card-header>
        <h3> {{ element.courseNameKey }}</h3>
      </mat-card-header>
      <mat-card-content>
        <mat-toolbar>
          <p>
            {{ element.Startdate }}</p>
          <span class="spacer"></span>
          <p>
            {{ element.Enddate }}
          </p>
        </mat-toolbar>
      </mat-card-content>
      <br>
      <mat-card-content>
        <mat-toolbar>
          <p>
            <a href="{{ element.PreSurveyURL }}">PreSurvey</a>
          </p>
          <span class="spacer"></span>
          <p>
            <a href="{{ element.PostSurveyURL }}">PostSurvey</a>
          </p>
        </mat-toolbar>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="rowClicked(element)"><i class="far fa-eye"></i> View</button>
        <button mat-button><i class="fas fa-trash"></i> Delete</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<form class="example-form" (ngSubmit)="save(loginForm)" #loginForm="ngForm">
  <!-- {{ emailID.value }}
    <br> -->
  <p class="mat-body-2" *ngIf="errFlag">Enter both Name and Contact</p>
  <!-- <label for="email">Email </label> -->

  <mat-form-field class="example-full-width">
    <input matInput type="text" [(ngModel)]="addcoursename" name="name" #nameID="ngModel" placeholder="Course Name" required>
  </mat-form-field>
  <br>
  <mat-toolbar>
    <mat-form-field class="example-full-width">
      <input matInput type="date" [(ngModel)]="addcoursedate" name="startDate" #startDateID="ngModel" placeholder="Start Date" required>
    </mat-form-field>
    <span class="spacer"></span>
    <mat-form-field class="example-full-width">
      <input matInput type="date" [(ngModel)]="addcourseedate" name="endDate" #endDateID="ngModel" placeholder="End Date" required>
    </mat-form-field>
  </mat-toolbar>
  <br>
  <input type="file">
  <br>
  <form (ngSubmit)="resetpassword()" [formGroup]="myform">
    <mat-card class="example-card1">
      <mat-card-header>
        <mat-card-title id="Ctittle">Reset your Password</mat-card-title>
      </mat-card-header>

      <mat-card-content id="ccontent">
        <mat-form-field>
          <input matInput placeholder="Enter your email" formControlName="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">SEND PASSWORD RESET EMAIL</button>
      </mat-card-actions>
    </mat-card>
  </form>
