<div class="row">
  <h4 class="col-sm-8">Create Codeword Set</h4>
  
  <button class="col-sm-4" mat-raised-button class="btn-color" (click)="openRulesDialog()"><i class="far fa-eye"></i> Hint</button>
</div>

<form id="loginForm" class="example-form" (ngSubmit)="save(loginForm)" #loginForm="ngForm">
  <mat-form-field class="example-full-width">
    <input matInput type="text" [(ngModel)]="adduser.name" name="name" #nameID="ngModel" placeholder="Codeword Set Name" required>
  </mat-form-field>
  <br>
  Upload Codeword Set(Excel File)
  <input (change)="previewFiles($event)" type="file">
  <br>
  <br>
  <div *ngIf="!isFileUploaded" class="row alert-msg">
    No File is uploaded. Waiting for user to upload the CodeWord Set.
  </div>
  <div *ngIf="isFileUploaded" class="row alert-msg">
    There are {{ codeWordCount }} codewords in the Uploaded set.
  </div>
  <br>
  <mat-toolbar>
    <span class="spacer"></span>
    <button class="btn-cancel" mat-raised-button (click)="rowClicked(row)">Cancel</button>
    <button class="btn-create" mat-raised-button>Create</button>
  </mat-toolbar>
</form>