<app-nav-bar></app-nav-bar>
<br>

<div class="main-content">
   
  <mat-card>
    <mat-toolbar>
            <h2>WELCOME TO STUDENT DASHBOARD</h2>
    </mat-toolbar>
      
    <br>
      <table class="table col-md-12 col-lg-12 col-xs-12 col-sm-12 table-striped table-bordered table-hover" >
        <thead>
          <tr>
            <th>Course Name</th>
            <th>Codeword</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Graduate Directed Project-1</td>
            <td>Cricket</td>
          </tr>
          <tr>
            <td>Mobile Computing-Android</td>
            <td>America</td>
          </tr>
          <tr>
            <td>User Experience Design</td>
            <td>Bearcat</td>
          </tr>
        </tbody>
      </table>
     
  </mat-card>
    <br>

     </div>

