<mat-toolbar class="mat-elevation-z8">Codewords
  <span class="example-spacer"></span>
  <button mat-raised-button color="warn" class="example-icon" routerLink="/">Logout</button>
</mat-toolbar>
<br>

<div class="main-content">

  <mat-card>
    <mat-toolbar>
      <h2>WELCOME TO STUDENT DASHBOARD</h2>
    </mat-toolbar>

    <br>
    <table class="table col-md-12 col-lg-12 col-xs-12 col-sm-12 table-striped table-bordered table-hover">
      <thead>
          <!-- displaying the registered courses and codewords -->
        <tr> 
          <th>Course Name</th>
          <th>Codeword</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detail of studentDetailList">
          <td>{{detail.CourseNameKey}}</td>
           
          <td *ngIf="detail.Acknowledged; then codeword else codewordbutton"></td>
          <ng-template #codeword>{{detail.Codeword}}</ng-template>
          <!-- button to reveal the code word and update the acknowledgement count -->
          <ng-template #codewordbutton><button  mat-raised-button color="primary" (click)="verifyackstatus(detail.CourseNameKey)" >Reveal Codeword</button></ng-template>
        </tr>


      </tbody>
    </table>

  </mat-card>
  <br>

</div>