<form class="example-form mt1" #signInForm="ngForm"  (ngSubmit)="editCodeword(signInForm)" autocomplete="off">
  <h1 mat-dialog-title>Update Student</h1>
  <div mat-dialog-content>
              <mat-form-field class="example-full-width">
                <input name="name" [(ngModel)]="addslot.EmailKey" #name="ngModel" matInput placeholder="Email" >
                <mat-error *ngIf="name.invalid">Please enter email</mat-error>
              </mat-form-field>
              <br>
              <mat-form-field class="example-full-width">
                <input name="name2" [(ngModel)]="addslot.StudentName" #name2="ngModel" matInput placeholder="Name" >
                <mat-error *ngIf="name2.invalid">Please enter name</mat-error>
              </mat-form-field>
  
  </div>
  <div mat-dialog-actions>
    <button class="mt1" type="submit"  mat-raised-button color="primary" >Save</button>
    <button class="mt1" type="button" (click)="onNoClick()" mat-raised-button color="primary" >Cancel</button>
  </div>
  
  </form>