.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}  

mat-card{
    margin: 8em auto;
    max-width: 30em;
}

.mat-raised-button{
    background: green;
    color: white;
}

.spacer{
    flex: 1 1 auto;
}

.btn-create{
    margin-left: 1em;
    background: green;
    color: white;
}

.btn-cancel{
    background: red;
    color: white;
}

p{
    font-size: 12px;
}
