<!-- Header of form -->
<mat-toolbar>
  <h2>Add Course Details</h2>
  <span class="spacer"></span>
</mat-toolbar>

<!-- Body of form -->
<form class="example-form" (ngSubmit)="save(courseForm)" #courseForm="ngForm">
  <p class="mat-body-2" *ngIf="errFlag">Fill all the required fields</p>
  <mat-form-field class="example-full-width">
    <input matInput type="text" [(ngModel)]="addcourse.name" name="name" #nameID="ngModel" placeholder="Course Name" required>
  </mat-form-field>
  <br>


  <!-- <mat-toolbar> -->
    <mat-form-field class="example-full-width">
      <input matInput type="date" [(ngModel)]="addcourse.date" name="startDate" #startDateID="ngModel" placeholder="Start Date"
        required>
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <!-- <span class="spacer"></span> -->
    <mat-form-field class="example-full-width">
      <input matInput type="date" [(ngModel)]="addcourse.enddate" name="endDate" #endDateID="ngModel" placeholder="End Date" required>
    </mat-form-field>
  <!-- </mat-toolbar> -->
  <br>
  Upload Student List(Excel File)
  <input (change)="fileUpload($event)" type="file">
  <br>
  <mat-form-field>
    <mat-select placeholder="Select Codeword Set" [(ngModel)]="addcourse.codewordSetName" name="codewordSetName" #codewordSetNameID="ngModel"
      required>
      <mat-option *ngFor="let name of names" [value]="name.CodeWordSetName">
        {{name.CodeWordSetName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <input matInput type="text" [(ngModel)]="addcourse.startURL" name="startURL" #nameID="ngModel" placeholder="Select Survey Start URL"
      required>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <input matInput type="text" [(ngModel)]="addcourse.endURL" name="endURL" #nameID="ngModel" placeholder="Select Survey End URL"
      required>
  </mat-form-field>
  <br>
  <!-- Footer of form -->
  <mat-toolbar>
    <span class="spacer"></span>
    <button class="btn-cancel" type="button" mat-raised-button (click)="rowClicked(row)">Cancel</button>
    <button class="btn-create" mat-raised-button>Create</button>
  </mat-toolbar>
</form>