<h1>Change Password</h1>

<form [formGroup]="passwordfrom" method="post" action="">
    <p>
        <label for="token">Enter the Name                                                         :
           </label> 
        <input type="text" id="Name"  formControlName="Name" title="Name" />
        </p>
<p>
<label for="newPassword">Enter the address                           :</label> 
<input type="email" id="email" formControlName="email" title="New password" />
</p>

<p class="form-actions">
<input (ngSubmit)="submit(Name.value,email.value)"type="submit" value="Send" title="send" />
</p>
<!-- Email entered is : {{email}} -->



</form>