<app-nav-bar></app-nav-bar>
<mat-card class="example-card">
  <div style="background-color:darkolivegreen">
  <mat-card-header>
    <mat-card-title id="tittle">Register</mat-card-title>
  </mat-card-header>
</div>
  <!-- Registration form -->
  <mat-card-content id="content">
    <mat-form-field>
      <input matInput placeholder="Enter your email" [(ngModel)]="emailid" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="Enter your password"[(ngModel)]="passwd" [type]="hide ? 'password' : 'text'">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="Confirm your password" [(ngModel)]="cnfpasswd" [type]="hide ? 'password' : 'text'">
    </mat-form-field>
    <mat-checkbox ngModel name="instructor" #instructor="ngModel">Instructor</mat-checkbox>


     
  </mat-card-content>

  <!-- registration form action buttons -->
  <mat-card-actions >
    <button mat-raised-button color="primary" id="cfooter" (click)="register(instructor)">REGISTER NOW</button>
    <p id="quest">Already have an account?
      <a mat-button routerLink="/">Login</a></p>
  </mat-card-actions>
</mat-card>
