<form>
    <mat-toolbar>
      <h2>Delete Student </h2>
      <span class="spacer"></span>
      <!-- <button mat-raised-button class="btn-color" (click)="openRulesDialog()"><i class="far fa-eye"></i> Hint</button> -->
    </mat-toolbar>
    <mat-toolbar>
      <span class="spacer"></span>
      <button class="btn-cancel" type="button" mat-raised-button (click)="onNoClick(row)">Cancel</button>
      <button class="btn-create" mat-raised-button (click)="save()">ok</button>
    </mat-toolbar>
  </form>