
<mat-card class="example-card">
  <div style="background-color:darkolivegreen">
  <mat-card-header>
    <mat-card-title id="tittle">Register</mat-card-title>
  </mat-card-header>
</div>
  
  <mat-card-content id="content">
    <mat-form-field>
      <input matInput placeholder="Enter your email" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="Confirm your password" [type]="hide ? 'password' : 'text'">
    </mat-form-field>

     
  </mat-card-content>
  <mat-card-actions >
    <button mat-raised-button color="primary" id="cfooter">REGISTER NOW</button>
    <p id="quest">Already have an account?
      <a mat-button routerLink="/">Login</a></p>
  </mat-card-actions>
</mat-card>
