.example-card {
  max-width: 350px;
  margin-left: 30em;
  margin-top: 7em;
}
#tittle{
  padding-top: 0.5em;
  padding-left: 4em;
  color: whitesmoke;
  
}
#content{
  padding-top: 0.5em;
  padding-left: 4em;
}
#cfooter{
  width: 14em;
  margin-left: 4em;

}


